[submodule "ConsoleGameEngine"]
	path = ConsoleGameEngine
	url = https://github.com/LtLi0n/ConsoleGameEngine
	branch = refactor
[submodule "LionLibrary"]
	path = LionLibrary
	url = https://github.com/LtLi0n/LionLibrary
	branch = commands-2.0
